In [2]:
import pandas as pd

In [68]:
path_emdat=('/Users/tatiana/Documents/disaster_response/emdat.csv')

In [69]:
#emdat data for all natural disasters from 1900-2021
df_emdat=pd.read_csv(path_emdat,sep=',')

In [154]:
df_emdat.head()

,Dis No,Year,Month,Day,Disaster Type,Disaster Subtype,Country,Country Code,Region,Continent,...,No Affected,No Homeless,Total Affected,Reconstruction Costs ('000 US$),"Reconstruction Costs, Adjusted ('000 US$)",Insured Damages ('000 US$),"Insured Damages, Adjusted ('000 US$)",Total Damages ('000 US$),"Total Damages, Adjusted ('000 US$)",CPI
0,1900-9002-CPV,1900,NaN,NaN,Drought,Drought,Cabo Verde,CPV,Western Africa,Africa,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.221647
1,1900-9001-IND,1900,NaN,NaN,Drought,Drought,India,IND,Southern Asia,Asia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.221647
2,1902-0012-GTM,1902,4.0,18.0,Earthquake,Ground movement,Guatemala,GTM,Central America,Americas,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25000.0,746154.0,3.350513
3,1902-0003-GTM,1902,4.0,8.0,Volcanic activity,Ash fall,Guatemala,GTM,Central America,Americas,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.350513
4,1902-0010-GTM,1902,10.0,24.0,Volcanic activity,Ash fall,Guatemala,GTM,Central America,Americas,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.350513

In [81]:
#emdat data summary for all natural disasters
df_emdat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16234 entries, 0 to 16233
Data columns (total 33 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Dis No                                     16234 non-null  object
 1   Year                                       16234 non-null  int64
 2   Month                                      15846 non-null  float64
 3   Day                                        12603 non-null  float64
 4   Disaster Type                              16234 non-null  object
 5   Disaster Subtype                           13077 non-null  object
 6   Country                                    16234 non-null  object
 7   Country Code                               16234 non-null  object
 8   Region                                     16234 non-null  object
 9   Continent                                  16234 non-null  object
 10  Location                                   14434 non-null  object
 11  Associated Dis                             3393 non-null   object
 12  Associated Dis2                            720 non-null    object
 13  OFDA Response                              1694 non-null   object
 14  Appeal                                     2571 non-null   object
 15  Declaration                                3273 non-null   object
 16  Aid Contribution                           677 non-null    float64
 17  Dis Mag Value                              4964 non-null   float64
 18  Latitude                                   2738 non-null   object
 19  Longitude                                  2741 non-null   object
 20  Local Time                                 1113 non-null   object
 21  Total Deaths                               11482 non-null  float64
 22  No Injured                                 3938 non-null   float64
 23  No Affected                                9304 non-null   float64
 24  No Homeless                                2435 non-null   float64
 25  Total Affected                             11715 non-null  float64
 26  Reconstruction Costs ('000 US$)            32 non-null     float64
 27  Reconstruction Costs, Adjusted ('000 US$)  31 non-null     float64
 28  Insured Damages ('000 US$)                 1101 non-null   float64
 29  Insured Damages, Adjusted ('000 US$)       1092 non-null   float64
 30  Total Damages ('000 US$)                   5272 non-null   float64
 31  Total Damages, Adjusted ('000 US$)         5164 non-null   float64
 32  CPI                                        15814 non-null  float64
dtypes: float64(16), int64(1), object(16)
memory usage: 4.1+ MB

In [82]:
#extracting data with Disaster Type earthquake only
df_earthquake=df_emdat[df_emdat["Disaster Type"] == "Earthquake"]

In [83]:
#reseting index to re-index numbering starting from 0
df_earthquake=df_earthquake.reset_index()

In [85]:
df_earthquake=df_earthquake.drop(columns=['index'])

In [87]:
df_earthquake.columns

Index(['Dis No', 'Year', 'Month', 'Day', 'Disaster Type', 'Disaster Subtype',
       'Country', 'Country Code', 'Region', 'Continent', 'Location',
       'Associated Dis', 'Associated Dis2', 'OFDA Response', 'Appeal',
       'Declaration', 'Aid Contribution', 'Dis Mag Value', 'Latitude',
       'Longitude', 'Local Time', 'Total Deaths', 'No Injured', 'No Affected',
       'No Homeless', 'Total Affected', 'Reconstruction Costs ('000 US$)',
       'Reconstruction Costs, Adjusted ('000 US$)',
       'Insured Damages ('000 US$)', 'Insured Damages, Adjusted ('000 US$)',
       'Total Damages ('000 US$)', 'Total Damages, Adjusted ('000 US$)',
       'CPI'],
      dtype='object')

In [89]:
df_earthquake.head()

,Dis No,Year,Month,Day,Disaster Type,Disaster Subtype,Country,Country Code,Region,Continent,...,No Affected,No Homeless,Total Affected,Reconstruction Costs ('000 US$),"Reconstruction Costs, Adjusted ('000 US$)",Insured Damages ('000 US$),"Insured Damages, Adjusted ('000 US$)",Total Damages ('000 US$),"Total Damages, Adjusted ('000 US$)",CPI
0,1902-0012-GTM,1902,4.0,18.0,Earthquake,Ground movement,Guatemala,GTM,Central America,Americas,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25000.0,746154.0,3.350513
1,1905-0003-IND,1905,4.0,4.0,Earthquake,Ground movement,India,IND,Southern Asia,Asia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25000.0,718519.0,3.479379
2,1906-0014-CHL,1906,8.0,16.0,Earthquake,Ground movement,Chile,CHL,South America,Americas,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100000.0,2874076.0,3.479379
3,1906-0002-COL,1906,1.0,31.0,Earthquake,Ground movement,Colombia,COL,South America,Americas,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.479379
4,1907-0006-CHN,1907,10.0,21.0,Earthquake,Ground movement,China,CHN,Eastern Asia,Asia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.608245

In [147]:
#summary of data for earthquakes 
df_earthquake.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1554 entries, 0 to 1553
Data columns (total 33 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Dis No                                     1554 non-null   object
 1   Year                                       1554 non-null   int64
 2   Month                                      1552 non-null   float64
 3   Day                                        1551 non-null   float64
 4   Disaster Type                              1554 non-null   object
 5   Disaster Subtype                           1551 non-null   object
 6   Country                                    1554 non-null   object
 7   Country Code                               1554 non-null   object
 8   Region                                     1554 non-null   object
 9   Continent                                  1554 non-null   object
 10  Location                                   1512 non-null   object
 11  Associated Dis                             336 non-null    object
 12  Associated Dis2                            39 non-null     object
 13  OFDA Response                              201 non-null    object
 14  Appeal                                     271 non-null    object
 15  Declaration                                286 non-null    object
 16  Aid Contribution                           100 non-null    float64
 17  Dis Mag Value                              1465 non-null   float64
 18  Latitude                                   1513 non-null   object
 19  Longitude                                  1511 non-null   object
 20  Local Time                                 1079 non-null   object
 21  Total Deaths                               1168 non-null   float64
 22  No Injured                                 1032 non-null   float64
 23  No Affected                                803 non-null    float64
 24  No Homeless                                459 non-null    float64
 25  Total Affected                             1275 non-null   float64
 26  Reconstruction Costs ('000 US$)            8 non-null      float64
 27  Reconstruction Costs, Adjusted ('000 US$)  8 non-null      float64
 28  Insured Damages ('000 US$)                 100 non-null    float64
 29  Insured Damages, Adjusted ('000 US$)       99 non-null     float64
 30  Total Damages ('000 US$)                   593 non-null    float64
 31  Total Damages, Adjusted ('000 US$)         582 non-null    float64
 32  CPI                                        1525 non-null   float64
dtypes: float64(16), int64(1), object(16)
memory usage: 400.8+ KB

In [159]:
#Data from USGS on earthquakes magnitude, depth and longitude/latitude from 1900-1910 for magnitude greater than 5
#includes ALL possible earthquakes over the given period in the world, ocean and land
path_usgs=('/Users/tatiana/Documents/disaster_response/1950_60.csv')

In [160]:
usgs_data=pd.read_csv(path_usgs,',')

year month date columns - convert into datetime from emdat data
filter out data set 1960+ from emdat
merge usgs csvs 1960+

In [161]:

usgs_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2897 entries, 0 to 2896
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   time             2897 non-null   object
 1   latitude         2897 non-null   float64
 2   longitude        2897 non-null   float64
 3   depth            2800 non-null   float64
 4   mag              2897 non-null   float64
 5   magType          2897 non-null   object
 6   nst              65 non-null     float64
 7   gap              65 non-null     float64
 8   dmin             29 non-null     float64
 9   rms              65 non-null     float64
 10  net              2897 non-null   object
 11  id               2897 non-null   object
 12  updated          2897 non-null   object
 13  place            2897 non-null   object
 14  type             2897 non-null   object
 15  horizontalError  63 non-null     float64
 16  depthError       64 non-null     float64
 17  magError         60 non-null     float64
 18  magNst           67 non-null     float64
 19  status           2897 non-null   object
 20  locationSource   2897 non-null   object
 21  magSource        2897 non-null   object
dtypes: float64(12), object(10)
memory usage: 498.0+ KB

In [162]:
usgs_data.iloc[25:35]

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
25,1950-03-03T15:41:12.000Z,-60.426,-34.821,15.0,5.8,mw,NaN,NaN,NaN,NaN,...,2015-05-13T18:52:45.000Z,Scotia Sea,earthquake,NaN,NaN,NaN,NaN,automatic,iscgem,iscgem
26,1950-03-04T15:48:35.000Z,-59.820,-28.658,15.0,5.9,mw,NaN,NaN,NaN,NaN,...,2015-05-13T18:52:45.000Z,South Sandwich Islands region,earthquake,NaN,NaN,NaN,NaN,automatic,iscgem,iscgem
27,1950-03-07T02:07:53.000Z,10.600,122.467,25.0,6.7,mw,NaN,NaN,NaN,NaN,...,2020-07-10T08:31:23.751Z,"9 km SSW of San Nicolas, Philippines",earthquake,NaN,NaN,NaN,NaN,automatic,iscgem,iscgem
28,1950-03-09T10:03:42.000Z,15.760,-60.544,15.0,5.7,mw,NaN,NaN,NaN,NaN,...,2015-05-13T18:52:45.000Z,"82 km SE of Beauséjour, Guadeloupe",earthquake,NaN,NaN,NaN,NaN,automatic,iscgem,iscgem
29,1950-03-18T04:39:37.000Z,-57.427,-23.658,15.0,6.4,mw,NaN,NaN,NaN,NaN,...,2015-05-13T18:52:45.000Z,South Sandwich Islands region,earthquake,NaN,NaN,NaN,NaN,automatic,iscgem,iscgem
30,1950-03-20T15:22:17.000Z,40.450,-121.467,NaN,5.5,ml,NaN,NaN,NaN,NaN,...,2018-06-04T20:43:44.000Z,"15 km NE of Mineral, California",earthquake,NaN,NaN,NaN,NaN,reviewed,ushis,brk
31,1950-03-26T16:53:28.000Z,14.485,39.628,15.0,5.6,mw,NaN,NaN,NaN,NaN,...,2020-07-10T08:31:41.073Z,Eritrea-Ethiopia border region,earthquake,NaN,NaN,NaN,NaN,automatic,iscgem,iscgem
32,1950-03-27T13:04:08.000Z,53.380,172.220,25.0,6.4,mw,NaN,NaN,NaN,NaN,...,2019-05-07T20:24:37.281Z,"87 km NW of Attu Station, Alaska",earthquake,NaN,NaN,NaN,NaN,automatic,iscgem,iscgem
33,1950-03-27T21:18:36.000Z,-5.729,103.083,35.0,6.4,mw,NaN,NaN,NaN,NaN,...,2015-05-13T18:52:45.000Z,"189 km S of Pagar Alam, Indonesia",earthquake,NaN,NaN,NaN,NaN,automatic,iscgem,iscgem
34,1950-04-04T03:42:51.000Z,29.454,130.445,55.0,6.0,mw,NaN,NaN,NaN,NaN,...,2015-05-13T18:52:45.000Z,"86 km S of Yudomari, Japan",earthquake,NaN,NaN,NaN,NaN,automatic,iscgem,iscgem

In [100]:
df_earthquake.columns

Index(['Dis No', 'Year', 'Month', 'Day', 'Disaster Type', 'Disaster Subtype',
       'Country', 'Country Code', 'Region', 'Continent', 'Location',
       'Associated Dis', 'Associated Dis2', 'OFDA Response', 'Appeal',
       'Declaration', 'Aid Contribution', 'Dis Mag Value', 'Latitude',
       'Longitude', 'Local Time', 'Total Deaths', 'No Injured', 'No Affected',
       'No Homeless', 'Total Affected', 'Reconstruction Costs ('000 US$)',
       'Reconstruction Costs, Adjusted ('000 US$)',
       'Insured Damages ('000 US$)', 'Insured Damages, Adjusted ('000 US$)',
       'Total Damages ('000 US$)', 'Total Damages, Adjusted ('000 US$)',
       'CPI'],
      dtype='object')

In [101]:
df_earthquake[['Year', 'Month', 'Day','Country','Dis Mag Value', 'Latitude','Longitude',]]

      Year  Month   Day     Country  Dis Mag Value Latitude Longitude
0     1902    4.0  18.0   Guatemala            8.0       14       -91
1     1905    4.0   4.0       India            8.0    32.04     76.16
2     1906    8.0  16.0       Chile            8.0    33.05      71.4
3     1906    1.0  31.0    Colombia            9.0   1.51 N  78.46 W
4     1907   10.0  21.0       China            7.0     38.5      69.9
...    ...    ...   ...         ...            ...      ...       ...
1549  2020    2.0  23.0      Turkey            6.0   38.543    44.447
1550  2020    6.0  14.0      Turkey            6.0   39.421    40.697
1551  2020    6.0  25.0      Turkey            5.0   38.558    44.023
1552  2020   10.0  30.0      Turkey            7.0   37.913    26.779
1553  2021    7.0  10.0  Tajikistan            6.0      NaN       NaN

[1554 rows x 7 columns]

In [112]:
path_naturaldisasters=('/Users/tatiana/Documents/disaster_response/natural-disasters.csv')

In [113]:
df_natdisasters=pd.read_csv(path_naturaldisasters,',')

In [121]:
for col_name in df_natdisasters.columns: 
    print(col_name)

Number of deaths from drought
Number of people injured from drought
Number of people affected from drought
Number of people left homeless from drought
Number of total people affected by drought
Reconstruction costs from drought
Insured damages against drought
Total economic damages from drought
Death rates from drought
Injury rates from drought
Number of people affected by drought per 100,000
Homelessness rate from drought
Total number of people affected by drought per 100,000
Number of deaths from earthquakes
Number of people injured from earthquakes
Number of people affected by earthquakes
Number of people left homeless from earthquakes
Number of total people affected by earthquakes
Reconstruction costs from earthquakes
Insured damages against earthquakes
Total economic damages from earthquakes
Death rates from earthquakes
Injury rates from earthquakes
Number of people affected by earthquakes per 100,000
Homelessness rate from earthquakes
Total number of people affected by earthquakes per 100,000
Number of deaths from disasters
Number of people injured from disasters
Number of people affected by disasters
Number of people left homeless from disasters
Number of total people affected by disasters
Reconstruction costs from disasters
Insured damages against disasters
Total economic damages from disasters
Death rates from disasters
Injury rates from disasters
Number of people affected by disasters per 100,000
Homelessness rate from disasters
Total number of people affected by disasters per 100,000
Number of deaths from volcanic activity
Number of people injured from volcanic activity
Number of people affected by volcanic activity
Number of people left homeless from volcanic activity
Number of total people affected by volcanic activity
Reconstruction costs from volcanic activity
Insured damages against volcanic activity
Total economic damages from volcanic activity
Death rates from volcanic activity
Injury rates from volcanic activity
Number of people affected by volcanic activity per 100,000
Homelessness rate from volcanic activity
Total number of people affected by volcanic activity per 100,000
Number of deaths from floods
Number of people injured from floods
Number of people affected by floods
Number of people left homeless from floods
Number of total people affected by floods
Reconstruction costs from floods
Insured damages against floods
Total economic damages from floods
Death rates from floods
Injury rates from floods
Number of people affected by floods per 100,000
Homelessness rate from floods
Total number of people affected by floods per 100,000
Number of deaths from mass movements
Number of people injured from mass movements
Number of people affected by mass movements
Number of people left homeless from mass movements
Number of total people affected by mass movements
Reconstruction costs from mass movements
Insured damages against mass movements
Total economic damages from mass movements
Death rates from mass movements
Injury rates from mass movements
Number of people affected by mass movements per 100,000
Homelessness rate from mass movements
Total number of people affected by mass movements per 100,000
Number of deaths from storms
Number of people injured from storms
Number of people affected by storms
Number of people left homeless from storms
Number of total people affected by storms
Reconstruction costs from storms
Insured damages against storms
Total economic damages from storms
Death rates from storms
Injury rates from storms
Number of people affected by storms per 100,000
Homelessness rate from storms
Total number of people affected by storms per 100,000
Number of deaths from landslides
Number of people injured from landslides
Number of people affected by landslides
Number of people left homeless from landslides
Number of total people affected by landslides
Reconstruction costs from landslides
Insured damages against landslides
Total economic damages from landslides
Death rates from landslides
Injury rates from landslides
Number of people affected by landslides per 100,000
Homelessness rate from landslides
Total number of people affected by landslides per 100,000
Number of deaths from fog
Number of people injured from fog
Number of people affected by fog
Number of people left homeless from fog
Number of total people affected by fog
Reconstruction costs from fog
Insured damages against fog
Total economic damages from fog
Death rates from fog
Injury rates from fog
Number of people affected by fog per 100,000
Homelessness rate from fog
Total number of people affected by fog per 100,000
Number of deaths from wildfires
Number of people injured from wildfires
Number of people affected by wildfires
Number of people left homeless from wildfires
Number of total people affected by wildfires
Reconstruction costs from wildfires
Insured damages against wildfires
Total economic damages from wildfires
Death rates from wildfires
Injury rates from wildfires
Number of people affected by wildfires per 100,000
Homelessness rate from wildfires
Total number of people affected by wildfires per 100,000
Number of deaths from extreme temperatures
Number of people injured from extreme temperatures
Number of people affected by extreme temperatures
Number of people left homeless from extreme temperatures
Number of total people affected by extreme temperatures
Reconstruction costs from extreme temperatures
Insured damages against extreme temperatures
Total economic damages from extreme temperatures
Death rates from extreme temperatures
Injury rates from extreme temperatures
Number of people affected by extreme temperatures per 100,000
Homelessness rate from extreme temperatures
Total number of people affected by extreme temperatures per 100,000
Number of deaths from glacial lake outbursts
Number of people injured from glacial lake outbursts
Number of people affected by glacial lake outbursts
Number of people left homeless from glacial lake outbursts
Number of total people affected by glacial lake outbursts
Reconstruction costs from glacial lake outbursts
Insured damages against glacial lake outbursts
Total economic damages from glacial lake outbursts
Death rates from glacial lake outbursts
Injury rates from glacial lake outbursts
Number of people affected by glacial lake outbursts per 100,000
Homelessness rate from glacial lake outbursts
Total number of people affected by glacial lake outbursts per 100,000
Total economic damages from disasters as a share of GDP
Total economic damages from drought as a share of GDP
Total economic damages from earthquakes as a share of GDP
Total economic damages from extreme temperatures as a share of GDP
Total economic damages from floods as a share of GDP
Total economic damages from landslides as a share of GDP
Total economic damages from mass movements as a share of GDP
Total economic damages from storms as a share of GDP
Total economic damages from volcanic activity as a share of GDP
Total economic damages from volcanic activity as a share of GDP.1
Entity
Year
total_damages_pct_gdp_glacial_lake

In [163]:
import geopandas as geopd